<!DOCTYPE html>
<html>
<head>
  <title>404</title>
  <link rel="stylesheet" href="../styles/404.css">
</head>
<body>
  <div class="container">
    <h1>404</h1>
    <p>Oops! The requested page was not found on this server.</p>
  </div>
</body>
</html>