<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="../styles/dashboard.css">
  </link>
</head>
<body>
  <div class="welcome-container">
    <h1>Welcome to the Dashboard, <%= user.username %>!</h1>
  </div>


  <div class="button-container">
    <form action="/houses" method="GET">
      <button type="submit">View All Houses</button>
    </form>
  </div>

  <button onclick="location.href='/add-house'" type="button" class="btn btn-add-house">Add House</button>
    

  <div> 
    <button class="logout-button btn btn-danger" type="button" onclick="location.href='/'">Logout</button>
  </div>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>