<!DOCTYPE html>
<html>
<head>
  <title>Real Estate App</title>
  <link rel="stylesheet" href="../styles/mainDashboard.css">
  </link>
</head>
<body>
  <div class="container">
    <div class="card-container">
      <div class="card">
        <h1>Real Estate Site</h1>
        <p class="slogan">Turning Houses into Homes, One Deal at a Time</p>
        <div class="button-container">
          <button onclick="location.href='/SignIn'">Sign In</button>
          <button onclick="location.href='/SignUp'">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>