<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Sign In</title>
  <link rel="stylesheet" href="../styles/SignIn.css">
  </link>
</head>
<body>
  <div class="container">
    <div class="form-container">
      <h1 class="creative-heading">Sign in</h1>
      <% if (typeof error !== 'undefined' && error) { %>
        <p class="error-message"><%= error %></p>
      <% } %>
      <form action="/signin" method="POST">
        <div class="input-group">
          <label for="username">Username:</label>
          <input type="text" name="username" id="username" value="<%= typeof username !== 'undefined' ? username : '' %>" required>
        </div>

        <div class="input-group">
          <label for="password">Password:</label>
          <input type="password" name="password" id="password" required>
        </div>

        <input type="submit" value="Sign In">
      </form>
      <button class="dashboard-button" onclick="location.href='/MainDashboard'">Back to Homepage</button>
    </div>
  </div>
</body>
</html>
